* {
	box-sizing: border-box;
}

html, body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: 'Tenor Sans', sans-serif;
	color: #fff;
	background: black;
	-webkit-font-smoothing: antialiased;
}

.cursor--pointer {
	cursor: pointer !important;
}

.cursor--back {
	cursor: alias !important;
}

body:not(.firefox) .cursor--drag {
	cursor: -webkit-grab;
	cursor: grab;
}

body:not(.firefox) .cursor--dragging { 
	cursor: -webkit-grabbing;
	cursor: grabbing;
}


@import './ui/layouts/_master.scss';
@import './ui/components/HoverTitle/_hover-title.scss';
@import './ui/components/ObjectOverlay/_object-overlay.scss';